# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

vendor/
nbproject/
/config/db.php
/config/db_local.php
.idea


composer.lock

/frontend/web/themes/*/assets/.sass-cache
/backend/web/themes/*/assets/.sass-cache