AddDefaultCharset UTF-8

RewriteEngine On

# если /admin, то в backend
RewriteCond %{REQUEST_URI} ^/admin
#RewriteRule ^(.*)$ admin/$1
#RewriteCond %{REQUEST_URI} !index.php
RewriteRule ^.*$ admin/index.php



RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
#RewriteRule ^assets/(.*)$ web/assets/$1 [L]
#RewriteRule ^css/(.*)$ web/css/$1 [L]
#RewriteRule ^js/(.*)$ web/js/$1 [L]
#RewriteRule ^images/(.*)$ web/images/$1 [L]
RewriteRule ^(.*)$ web/$1 [L]
RewriteCond %{REQUEST_URI} !^/(web|admin)/(assets|css|js)/
RewriteCond %{REQUEST_URI} !index.php
#RewriteCond %{REQUEST_FILENAME} !-f [OR]
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ web/index.php