AddDefaultCharset UTF-8

RewriteEngine On

# если /admin, то в backend
#RewriteCond %{REQUEST_URI} ^/admin
#RewriteRule ^.*$ admin/index.php



RewriteCond %{REQUEST_URI} ^/(assets|css|js|uploads)
RewriteRule ^(.*)$ web/$1 [L]
RewriteCond %{REQUEST_URI} !^/(web)/(assets|css|js)/
RewriteCond %{REQUEST_URI} !index.php
RewriteRule ^.*$ web/index.php